<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.epms.Mapper.VacationRuleMapper">
  
    <resultMap type="VacationRule" id="vacationRuleResult">
       <id property="id" column="id"/>
       <result property="vacationType" column="vacation_type"/>
       <result property="day" column="day"/>
    </resultMap>
    
    <update id="updatetVacationRule" parameterType="VacationRule">
       update  t_vacationrule set day=#{day} where vacation_type= #{vacationType}
    </update>
    
    <select id="selectVacationRule" resultMap="vacationRuleResult">
       select * from t_vacationrule 
    </select>
    
    <select id="count" resultType="int" >
 	    select count(*) from t_vacationrule 
 	</select>
    

</mapper>
