<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epms.Mapper.CultivateApplyMapper">

    <resultMap type="CultivateApply" id="cultivateApplyResult">
 	  <id property="id" column="id"></id>
 	  <result property="writeId" column="write_id"></result>
 	  <result property="intrduce" column="intrduce"/>
 	  <result property="sum" column="sum"/>
 	  <result property="finishDate" column="finish_date"/>
 	  <result property="startDate" column="start_date"/>
 	  <result property="approvalDate" column="approval_date"/>
 	  <result property="typeId" column="type_id"/>
 	  <result property="teacherId" column="teacher_id"/>
 	  <result property="facePeople" column="face_people"/>
 	  <result property="alreadyPerson" column="already_person"/>
 	  <association property="cultivateType" javaType="CultivateType">
 	  <id property="cultivateId" column="cultivate_id"/>
 	  <result property="cultivateName" column="cultivate_name"></result>
 	  </association>
 	  <association property="teacher" javaType="Teacher">
 	  <id property="id" column="id"/>
 	  <result property="teacherName" column="teacher_name"></result>
 	  </association>
 	</resultMap> 
 
	
	<select id="selectTheSameDateInId" resultMap="cultivateApplyResult">
	   select id,start_date,finish_date from t_cultivateapply 
	    <where>
         <if test="ids !=null and ids.length>0">
         <foreach collection="ids" item="id" separator="," open="and id in("  close=")">
               #{id}
         </foreach>       
         </if>
       </where>
       and start_date like'${year}-${month}%' and finish_date like '${year}-${month}%'
       and status='通过'
	</select>
	
	<select id="selectSameStartDateInId" resultMap="cultivateApplyResult">
	   select id,start_date,finish_date from t_cultivateapply 
	    <where>
         <if test="ids !=null and ids.length>0">
         <foreach collection="ids" item="id" separator="," open="and id in("  close=")">
               #{id}
         </foreach>       
         </if>
       </where>
       and start_date like'${year}-${month}%' and finish_date not like '${year}-${month}%'
       and status='通过'
	</select>
	
	<select id="selectSameFinishDateInId" resultMap="cultivateApplyResult">
	   select id,start_date,finish_date from t_cultivateapply 
	    <where>
         <if test="ids !=null and ids.length>0">
         <foreach collection="ids" item="id" separator="," open="and id in("  close=")">
               #{id}
         </foreach>       
         </if>
       </where>
       and start_date not like'${year}-${month}%' and finish_date like '${year}-${month}%'
       and status='通过'
	</select>
 	
 
 	
</mapper>

	
	
	