<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.epms.Mapper.MenuMapper">
 	
 	
 	<!-- 通过权限组查询菜单 -->
 	<select id="findMenuByRole" resultType="Menu">
 	    SELECT t_menu.id,t_menu.mid,t_menu.menu_name as menuName,t_menu.menu_path as menuPath,t_menu.pare_menu_id as pareMenuId FROM t_menu INNER JOIN t_rolemenu ON t_rolemenu.menu_id=t_menu.id INNER JOIN t_role ON t_role.id=t_rolemenu.role_id INNER JOIN t_userrole ON t_userrole.role_id=t_role.id INNER JOIN t_user ON t_user.job_id=t_userrole.job_id WHERE t_user.job_id=#{jobId} ORDER BY mid;
 	</select>
</mapper>
 