<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epms.Mapper.OccupationMapper">
    
 	<!-- 根据名字查询id-->
 	<select id="selectIdByName" resultType="int">
	       select occupation_id
               from t_occupation as o
                  where o.occupation_name=#{occupationName}
 	</select>
 
 	
</mapper>

	
	
	