<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.epms.Mapper.ResumeMapper">
 	
 	<resultMap type="Resume" id="resumeResult">
 	     <id property="id" column="id"/>
 	     <result property="workExperience" column="work_experience"></result>
 	     <result property="submitDate" column="submit-date"></result>
 	     <result property="approvalDate" column="approval_date"></result>
 	     <result property="interviewDate" column="interview_date"></result>
 	     <result property="interviewId" column="interview_id"></result>
 	     <result property="status" column="status"/>
 	     <association property="toDepartment" javaType="Department">
 	       <id property="departmentId" column="department_id"/>
 	       <result property="departmentName" column="department_name"></result>
 	       <result property="managerId" column="manager_id"></result>
 	     </association>
 	     <association property="toOccupation" javaType="Occupation">
 	       <id property="occupationId" column="occupation_id"/>
 	       <result property="occupationName" column="occupation_name"></result>
 	     </association>
 	</resultMap>
 	
 	<select id="selectMaxId" resultType="int">
 	    select max(id) from t_resume;
 	</select> 
 	
 	<insert id="insertResume" parameterType="Resume" >
      insert into t_resume(to_departmentid,to_occupationid,work_experience,submit_date,status)
         values(#{toDepartment.departmentId},#{toOccupation.occupationId},#{workExperience},#{submitDate},#{status})
    </insert>
    <!-- 审核员工简历 -->
    <update id="updateAllExternalResume" parameterType="Resume">
    update t_resume 
 	       set status=#{status},approval_date=#{approvalDate},interview_date=#{interviewDate} where id=#{id};
    </update>
    <!-- 通过事项id，查询事项信息 -->
    <select id="selectResumeById" parameterType="int" resultMap="resumeResult">
      select * from t_resume where id=#{id};
    </select>
   
    

	</mapper>