<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.epms.Mapper.WorkingCalendarMapper">
  
    <resultMap type="WorkingCalendar" id="workingCalendarResult">
       <id property="id" column="id"/>
       <result property="date" column="date"/>
       <result property="week" column="week"/>
       <result property="isWorkDay" column="is_work_day"/>
       <result property="note" column="note"/>
    </resultMap>
    
    <select id="CountWorkSum" resultType="int">
       select count(*) from t_workingcalendar 
              where is_work_day=1
       <if test="month != null and month != ''">
 		   and date like '${year}-${month}%'
 	   </if>  
    </select>
    
    <select id="CountNotWorkSum" resultType="int">
       select count(*) from t_workingcalendar 
              where is_work_day=0
       <if test="month != null and month != ''">
 		   and date like '${year}-${month}%'
 	   </if>  
    </select>
    
    <select id="checkIfWorkingDay" resultType="int">
       select is_work_day from t_workingcalendar 
           where date = #{today}    
    </select> 
    
    <select id="selectMonthLastDate" resultType="String">
        select date from t_workingcalendar 
           where  date like '${year}-${month}%' and id=
           ( select max(id) from  t_workingcalendar  where  date like '${year}-${month}%')
    </select>
    
    <select id="selectMonthFirstDate" resultType="String">
        select date from t_workingcalendar 
           where  date like '${year}-${month}%' and id=
           ( select min(id) from  t_workingcalendar  where  date like '${year}-${month}%') 
    </select>
    
    <select id="selectIdByDate" resultType="int">
       select id from t_workingcalendar 
           where  date = #{date}  
    </select>
    
    <select id="selectNotWorkBetweenDate" resultType="int">
       select count(*) from t_workingcalendar 
           where is_work_day=0 and id between #{startId} and #{finishId}
    </select>     
    
    <select id="selectWorkBetweenDate" resultType="int">
       select count(*) from t_workingcalendar 
           where is_work_day=1 and id between #{startId} and #{finishId}
    </select>  
    
    <select id="selectIdBetweenDate" resultMap="workingCalendarResult">
      select id from t_workingcalendar 
           where id between #{startId} and #{finishId}
    </select>
    
    <select id="selectWorkDate" resultType="String">
      select date from  t_workingcalendar 
             where is_work_day=1  and  date like '${year}-${month}%'
    </select>   
            
     
    <select id="selectNotWorkDate" resultType="String">
      select date from  t_workingcalendar 
             where is_work_day=0  and  date like '${year}-${month}%'
    </select>      
        
</mapper>
