<?xml version='1.0' encoding='UTF-8' ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
       
    <context:component-scan base-package="com.hjh.*" >
    	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
	<!-- 使用注解驱动 -->
	<context:annotation-config />
	<!-- 数据库连接池 -->
	<context:property-placeholder location="classpath:db.properties" />
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxActive" value="255" />
		<property name="maxIdle" value="5" />
		<property name="maxWait" value="10000" />
	</bean>

	<!-- 集成mybatis -->
	<bean id="SqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/mybatis/mybatis-config.xml" />
	</bean>

	<!-- 采用自动扫描方式创建mapper bean -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	    <property name="basePackage" value="com.hjh.Mapper" />
	    <property name="annotationClass" value="org.springframework.stereotype.Repository" />
	</bean>
	
	<!-- 配置数据源事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
		<property name="dataSource" ref="dataSource" ></property>
	</bean>

	<!-- 开启事务行为 -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
    <!-- 最常用的配置 -->  
	<tx:advice id="txAdvice" transaction-manager="transactionManager">  
	<tx:attributes>  
	           <tx:method name="save*" propagation="REQUIRED" />  
	           <tx:method name="add*" propagation="REQUIRED" />  
	           <tx:method name="create*" propagation="REQUIRED" />  
	           <tx:method name="insert*" propagation="REQUIRED" />  
	           <tx:method name="update*" propagation="REQUIRED" />  
	           <tx:method name="merge*" propagation="REQUIRED" />  
	           <tx:method name="del*" propagation="REQUIRED" />  
	           <tx:method name="remove*" propagation="REQUIRED" />  
	           <tx:method name="put*" propagation="REQUIRED" />  
	           <tx:method name="get*" propagation="SUPPORTS" read-only="true" />  
	           <tx:method name="count*" propagation="SUPPORTS" read-only="true" />  
	           <tx:method name="find*" propagation="SUPPORTS" read-only="true" />  
	           <tx:method name="list*" propagation="SUPPORTS" read-only="true" />  
	           <tx:method name="*" propagation="SUPPORTS" read-only="true" />  
	           <tx:method name="batchSaveOrUpdate" propagation="REQUIRES_NEW" />  
	       </tx:attributes>  
	</tx:advice>  
    
    <!-- Aop -->
    <aop:config>  
       <aop:pointcut id="txPointcut" expression="execution(* com.hjh.Service..*.*(..))" />  
       <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut" />  
	</aop:config>

    
    
</beans>