<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.hjh.Mapper.ApplyMapper">
  
    <resultMap type="Apply" id="applyResult">
       <id property="id" column="id"/>
       <result property="writeId" column="write_id"/>
       <result property="passiveId" column="passive_id"/>
       <result property="reason" column="reason"/>
       <result property="submitDate" column="submit_date"/>
       <result property="approvalDate" column="approval_date"/>
       <result property="state" column="state"/>
       <association property="applytype" javaType="Applytype" >
         <id property="applytypeId" column="applytype_id"/> 
         <result property="applytypeName" column="applytype_name"/>
       </association>
    </resultMap>
    
    
    <insert id="insertApply" parameterType="Apply">       
       insert into t_apply (write_id,passive_id,reason,submit_date,state,apply_typeid) 
             values(#{writeId},#{passiveId},#{reason},#{submitDate},#{state},#{applytype.applytypeId})
    </insert>
    
    <select id="selectApplyIdByOther" parameterType="Apply" resultMap="applyResult">
       select a.*,t.* from t_apply as a, t_applytype as t 
         where t.applytype_id=a.apply_typeid  and a.write_id=#{writeId} and passive_id=#{passiveId} and reason=#{reason} 
               and submit_date=#{submitDate} and state=#{state} and apply_typeid= #{applytype.applytypeId};
    </select>
    
    <select id="selectApplyMaxId" resultType="int">
       select max(id) from t_apply;
    </select>
    
    
    <select id="selectApplyToTotalManager"  resultType="Map">
      select a.*,t.applytype_name,p1.name as passiveName,p2.name as writeName,d.department_name
           from t_apply as a, t_applytype as t, t_department as d,t_personalinfo as p1,t_personalinfo as p2
               where a.apply_typeid=t.applytype_id 
                     and a.passive_id=p1.job_id 
                     and a.write_id=p2.job_id
                     and a.write_id=d.manager_id
                     and p1.department_id=d.department_id
                     <if test="applytype_name != null and applytype_name != ''">
 		                 and applytype_name like '${applytype_name}%'
 		             </if>
 		             <if test="state != null and state != ''">
 		                 and state like '${state}%'
 		             </if>
 		             <if test="department_id != null and department_id != ''">
 		                 and p1.department_id like '${department_id}%'
 		             </if>
                 LIMIT #{before},#{after}
    </select>
 	
 	<select id="countToTotalManager" resultType="int">
 	    select count(*) from t_apply as a, t_applytype as t, t_department as d,t_personalinfo as p1,t_personalinfo as p2
               where a.apply_typeid=t.applytype_id 
                     and a.passive_id=p1.job_id 
                     and a.write_id=p2.job_id
                     and a.write_id=d.manager_id
                     and p1.department_id=d.department_id
                     <if test="applytype_name != null and applytype_name != ''">
 		                 and applytype_name like '${applytype_name}%'
 		             </if>
 		             <if test="state != null and state != ''">
 		                 and state like '${state}%'
 		             </if>
 		             <if test="department_id != null and department_id != ''">
 		                 and p1.department_id like '${department_id}%'
 		             </if>
 	</select>
 	
 	<select id="selectApplyToBoard" resultType="Map">
 	   select a.*,t.applytype_name,p1.name as passiveName,p2.name as writeName,d.department_name
           from t_apply as a, t_applytype as t, t_department as d,t_personalinfo as p1,t_personalinfo as p2
               where a.apply_typeid=t.applytype_id 
                     and a.passive_id=p1.job_id 
                     and a.write_id=p2.job_id
                     and p1.department_id=d.department_id
                     and p2.department_id=66
                     <if test="applytype_name != null and applytype_name != ''">
 		                 and applytype_name like '${applytype_name}%'
 		             </if>
 		             <if test="state != null and state != ''">
 		                 and state like '${state}%'
 		             </if>
 		             <if test="department_id != null and department_id != ''">
 		                 and p1.department_id like '${department_id}%'
 		             </if>
                LIMIT #{before},#{after}
 	</select>
 	
 	<select id="countToBoard" resultType="int">
 	    select count(*) 
 	        from t_apply as a, t_applytype as t, t_department as d,t_personalinfo as p1,t_personalinfo as p2
               where a.apply_typeid=t.applytype_id 
                     and a.passive_id=p1.job_id 
                     and a.write_id=p2.job_id
                     and p1.department_id=d.department_id
                     and p2.department_id=66
                     <if test="applytype_name != null and applytype_name != ''">
 		                 and applytype_name like '${applytype_name}%'
 		             </if>
 		             <if test="state != null and state != ''">
 		                 and state like '${state}%'
 		             </if>
 		             <if test="department_id != null and department_id != ''">
 		                 and p1.department_id like '${department_id}%'
 		             </if>
 	</select>
 	
 	<update id="updateApply" parameterType="Apply">
 	    update t_apply set approval_date=#{approvalDate},state=#{state} where id =#{id}
 	</update>
 	
 	<select id="selectApplyById" parameterType="int" resultMap="applyResult">
 	    select a.*,t.* from t_apply as a,t_applytype as t
 	           where a.id = #{id} and a.apply_typeid=t.applytype_id 
 	</select>
 	
 	<select id="selectAllApplyByWriteId"  resultType="Map">
      select a.*,t.applytype_name,p1.name as passiveName,p2.name as writeName,d.department_name
           from t_apply as a, t_applytype as t, t_department as d,t_personalinfo as p1,t_personalinfo as p2
               where a.apply_typeid=t.applytype_id 
                     and a.passive_id=p1.job_id 
                     and a.write_id=p2.job_id
                     and p1.department_id=d.department_id
                     and a.write_id=#{jobId}
          <if test="applytype_name != null and applytype_name != ''">
 		     and applytype_name like '${applytype_name}%'
 		  </if>
 		  <if test="state != null and state != ''">
 		     and state like '${state}%'
 		  </if>
 		  <if test="department_id != null and department_id != ''">
 		     and p1.department_id like '${department_id}%'
 		  </if>
          LIMIT #{before},#{after}
    </select>
 	
 	
 	<select id="countByWriteId"  resultType="int">
 	    select count(*) 
 	        from t_apply as a, t_applytype as t, t_department as d,t_personalinfo as p1,t_personalinfo as p2
               where a.apply_typeid=t.applytype_id 
                     and a.passive_id=p1.job_id 
                     and a.write_id=p2.job_id
                     and p1.department_id=d.department_id
                     and a.write_id=#{jobId}
          <if test="applytype_name != null and applytype_name != ''">
 		     and applytype_name like '${applytype_name}%'
 		  </if>
 		  <if test="state != null and state != ''">
 		     and state like '${state}%'
 		  </if>
 		  <if test="department_id != null and department_id != ''">
 		     and p1.department_id like '${department_id}%'
 		  </if>
 	</select>
 	
 	<delete id="delectApplyMaxId">
 	     delete from t_apply where id = 
 	            (select n.max_id from (select max(id) as max_id from t_apply) as n);
 	</delete>
    
    <select id="checkIfRepeat" parameterType="Apply" resultType="int">
        select count(*) from t_apply
               where write_id=#{writeId} and passive_id=#{passiveId} 
                     and reason=#{reason} and submit_date=#{submitDate}
                     and apply_typeid=#{applytype.applytypeId}
    </select>

</mapper>
