<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.hjh.Mapper.PerformScoreMapper">
 	
 	<!-- 查询该用户需要评价的记录 -->
 	<select id="showAllEvaluate" resultType="Map">
 		select type,t_performscore.assess_date as assessDate,t_performscore.evaluate_id as evaluateId,t_personalinfo.name from t_performscore,t_personalinfo WHERE t_performscore.job_id=#{jobId} and t_performscore.evaluate_id=t_personalinfo.job_id and state='待评价' LIMIT #{before},#{after}
 	</select>
 	<!-- 查询该用户绩效数 -->
 	<select id="count" resultType="int">
 	    select count(*) from t_performscore WHERE job_id=#{jobId}
 	</select>
 	
    <!-- 添加绩效评价 -->	 
 	<update id="addPerform">
 		UPDATE t_performscore SET state='评价完成',score=#{2},assess1_score=#{4},assess2_score=#{5},assess3_score=#{6},assess4_score=#{7},assess5_score=#{8},assess6_score=#{9},assess7_score=#{10},assess8_score=#{11},assess9_score=#{12},assess10_score=#{13},assess11_score=#{14},assess12_score=#{15},assess13_score=#{16},assess14_score=#{17},assess15_score=#{18},assess16_score=#{19},assess17_score=#{20},assess18_score=#{21},assess19_score=#{22},assess20_score=#{23} WHERE job_id=#{0} and evaluate_id=#{1} and assess_date=#{3} and state='待评价'
 	</update>
 	
 	<!-- 查询被评价人是否为总经理 -->
 	<select id="checkGeneralManager" resultType="String">
 		SELECT t_occupation.occupation_name FROM t_personalinfo,t_occupation WHERE job_id=#{evaluateId} and t_occupation.occupation_id=t_personalinfo.occupation_id
 	</select>
 	
 	<!-- 查询经理数量 -->
 	<select id="checkManagerNum" resultType="int">
 		SELECT COUNT(*) FROM t_department WHERE manager_id IS NOT NULL
 	</select>
 	
 	<!-- 查询评价数量 -->
 	<select id="checkPerformNum" resultType="int">
 		SELECT COUNT(*) FROM t_performscore WHERE evaluate_id=#{evaluateId} and state='评价完成' and assess_date=#{assessDate}
 	</select>
 	
 	<!-- 计算绩效总分 -->
 	<select id="countPerformScore" resultType="int">
 		SELECT SUM(score) FROM t_performscore WHERE evaluate_id=#{evaluateId} and assess_date=#{assessDate} and state='评价完成'
 	</select>
 	
 	<!-- 查询被评价人是否为部门经理 -->
 	<select id="checkManager" resultType="int">
 		SELECT COUNT(manager_id) FROM t_department WHERE manager_id=#{evaluateId}
 	</select>
 	
 	<!-- 查询部门内的人数 -->
 	<select id="checkPeopleNum" resultType="int">
 		SELECT COUNT(*) FROM t_personalinfo WHERE department_id=(SELECT department_id FROM t_personalinfo WHERE job_id=#{jobId})
 	</select>
 	
 	<!-- 查询被评价人是否为普通职员 -->
 	<select id="checkStaff" resultType="int">
 		SELECT COUNT(manager_id) FROM t_department WHERE manager_id=#{evaluateId}
 	</select>
 	
 	<!-- 修改评价状态 -->
 	<update id="updatePerformScoreState">
 		UPDATE t_performscore SET state='待评价' WHERE assess_date=#{assessDate} and evaluate_id=#{jobId}
 	</update>
 	
 	<!-- 初始化总经理绩效评价 -->
 	<insert id="initGeneralManagerEvaluate">
 		INSERT INTO t_performscore (job_id,evaluate_id,type,assess_date)
 		VALUES
 		<foreach collection="managerList" item="item" index="index" separator=",">
 			(
 				#{jobId},
 				#{item.jobId},
 				'月度评价',
 				#{nowTime}
 			)
 		</foreach>
 	</insert>
 	
 	<!-- 初始化部门经理对总经理的绩效评价 -->
 	<insert id="addMToGMEvaluate">
 		INSERT INTO t_performscore (job_id,evaluate_id,type,assess_date)
 		VALUES
 		<foreach collection="managerList" item="item" index="index" separator=",">
 			(
 				#{item.jobId},
 				#{GMjobId},
 				'月度评价',
 				#{nowTime}
 			)
 		</foreach>
 	</insert>
 	
 	<!-- 初始化部门经理对部门内员工的绩效评价 -->
 	<insert id="addMToStaffEvaluate">
 		INSERT INTO t_performscore (job_id,evaluate_id,type,assess_date)
 		VALUES
 		<foreach collection="staffList" item="item" index="index" separator=",">
 			(
 				#{MjobId},
 				#{item.jobId},
 				'月度评价',
 				#{nowTime}
 			)
 		</foreach>
 	</insert>
 	
 	<!-- 初始化部门内员工对部门经理的绩效评价 -->
 	<insert id="addStaffToMEvaluate">
 		INSERT INTO t_performscore (job_id,evaluate_id,type,assess_date)
 		VALUES
 		<foreach collection="staffList" item="item" index="index" separator=",">
 			(
 				#{item.jobId},
 				#{MjobId},
 				'月度评价',
 				#{nowTime}
 			)
 		</foreach>
 	</insert>
 	
 	<!-- 初始化部门内员工对员工的绩效评价 -->
 	<insert id="addStaffToStaff">
 		INSERT INTO t_performscore (job_id,evaluate_id,type,assess_date)
 		VALUES
 		<foreach collection="colleagueList" item="item" index="index" separator=",">
 			(
 				#{SjobId},
 				#{item.jobId},
 				'月度评价',
 				#{nowTime}
 			)
 		</foreach>
 	</insert>
</mapper>
 