<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.hjh.Mapper.PersonalinfoMapper">
  
  <resultMap type="Personalinfo" id="personal_department_occupation_education">
     <id property="jobId" column="job_id"/>
     <result property="name" column="name"/>
     <result property="age" column="age"/>
     <result property="sex" column="sex"/>
     <result property="birthday" column="birthday"/>
     <result property="phone" column="phone"/>
     <result property="email" column="email"/>
     <result property="address" column="address"/>
     <result property="marital" column="marital"/>
     <result property="identityCard" column="identity_card"/>
     <result property="census" column="census"/>
     <result property="entryDate" column="entry_date"/>
     <association property="occupation" javaType="Occupation" >
         <id property="occupationId" column="occupation_id"/> 
         <result property="occupationName" column="occupation_name"/>
     </association>
     <association property="department" javaType="Department" >
         <id property="departmentId" column="department_id"/> 
         <result property="departmentName" column="department_name"/>
         <result property="managerId" column="manager_id"/>
     </association>
     <association property="education" javaType="Education" >
         <id property="jobId" column="job_id"/> 
         <result property="schoolName" column="school_name"/>
         <result property="outDate" column="out_date"/>
         <result property="inDate" column="in_date"/>
         <result property="education" column="education"/>
     </association>
  </resultMap>
  
  <resultMap type="Personalinfo" id="personal_department_occupation">
     <id property="jobId" column="job_id"/>
     <result property="name" column="name"/>
     <result property="age" column="age"/>
     <result property="sex" column="sex"/>
     <result property="birthday" column="birthday"/>
     <result property="phone" column="phone"/>
     <result property="email" column="email"/>
     <result property="address" column="address"/>
     <result property="marital" column="marital"/>
     <result property="identityCard" column="identity_card"/>
     <result property="census" column="census"/>
     <result property="entryDate" column="entry_date"/>
     <association property="occupation" javaType="Occupation" >
         <id property="occupationId" column="occupation_id"/> 
         <result property="occupationName" column="occupation_name"/>
     </association>
     <association property="department" javaType="Department" >
         <id property="departmentId" column="department_id"/> 
         <result property="departmentName" column="department_name"/>
         <result property="managerId" column="manager_id"/>
     </association>
  </resultMap>
  
    <select id="selectPersonalByIdNotEducation" parameterType="int" resultMap="personal_department_occupation">
 	    select p.*,o.*,d.* from t_personalinfo as p,t_department as d,t_occupation as o
 	        WHERE p.job_id= #{jobId} and p.department_id=d.department_id and p.occupation_id=o.occupation_id 
 	</select>
  
 	
 	<select id="selectPersonalById" parameterType="int" resultMap="personal_department_occupation_education">
 	    select p.*,o.*,d.*,e.* from t_personalinfo as p,t_department as d,t_occupation as o,t_education as e
 	        WHERE p.job_id= #{jobId} and p.department_id=d.department_id and p.occupation_id=o.occupation_id and p.job_id=e.job_id
 	</select>
 	
 	<select id="selectPersonalByNameNotEducation" parameterType="String" resultMap="personal_department_occupation">
 	    select p.*,o.*,d.* from t_personalinfo as p,t_department as d,t_occupation as o
 	        WHERE p.name= #{name} and p.department_id=d.department_id and p.occupation_id=o.occupation_id
 	</select>
 	
 	<select id="selectPersonalByName" parameterType="String" resultMap="personal_department_occupation_education">
 	    select p.*,o.*,d.*,e.* from t_personalinfo as p,t_department as d,t_occupation as o,t_education as e
 	        WHERE p.name= #{name} and p.department_id=d.department_id and p.occupation_id=o.occupation_id and p.job_id=e.job_id
 	</select>
 	
 	<select id="selectPersonByIdOrName" parameterType="Personalinfo" resultMap="personal_department_occupation_education">
 	    select p.*,o.*,d.* from t_personalinfo as p,t_department as d,t_occupation as o
 	    <where>
            <if test="jobId !=null and jobId != 0 ">
                 and p.job_id like '${jobId}%' and p.department_id=d.department_id 
                 and p.occupation_id=o.occupation_id
            </if>
            <if test="name !=null and name !='' ">
                and p.name like '${name}%' and p.department_id=d.department_id 
                and p.occupation_id=o.occupation_id
           </if>
        </where>
 	</select>
 	
 	<select id="selectPersonalByDepartmentId" parameterType="int" resultMap="personal_department_occupation_education">
 	   select p.*,o.*,d.*,e.* from t_personalinfo as p,t_department as d,t_occupation as o ,t_education as e
 	        WHERE p.department_id=d.department_id and p.occupation_id=o.occupation_id  
 	            and d.department_id =#{departmenId} and p.job_id=e.job_id
 	</select>
 	
 	<update id="updatePersonal"  parameterType="Personalinfo">
 	   update t_personalinfo as p,t_education as e set p.name=#{name},p.age=#{age},p.sex=#{sex},
 	               p.birthday=#{birthday}, p.phone=#{phone},p.email=#{email},p.address=#{address}, 
 	               p.marital=#{marital},p.identity_card=#{identityCard},p.census=#{census},
 	               e.school_name=#{education.schoolName},e.out_date=#{education.outDate},
 	               e.in_date=#{education.inDate},e.education=#{education.education}
 	                   where e.job_id=#{jobId} and p.job_id=#{jobId}       
 	</update>
 	
 	<select id="selectAllPersonal" resultType="Map">
 	   select p.*,o.*,d.*,e.* from t_personalinfo as p,t_department as d,t_occupation as o ,t_education as e
 	          WHERE p.department_id=d.department_id and p.occupation_id=o.occupation_id 
 	                and p.job_id=e.job_id
 	                <if test="occupation_id != null and occupation_id != ''">
                        and p.occupation_id like '${occupation_id}%'
                    </if>
 	                <if test="department_id != null and department_id != ''">
                        and p.department_id like '${department_id}%'
                    </if>
                    <if test="name != null and name != ''">
                        and p.name like '${name}%'
                    </if>
                    <if test="job_id != null and job_id != ''">
                        and p.job_id like '${job_id}%'
                    </if>
 	          LIMIT #{before},#{after}
 	</select>
 	
 	<select id="count" resultType="int">
 	    select count(*) from t_personalinfo as p,t_department as d,t_occupation as o ,t_education as e
 	          WHERE p.department_id=d.department_id and p.occupation_id=o.occupation_id 
 	                and p.job_id=e.job_id
 	           <if test="occupation_id != null and occupation_id != ''">
                   and p.occupation_id like '${occupation_id}%'
               </if>
 	           <if test="department_id != null and department_id != ''">
                   and p.department_id like '${department_id}%'
               </if>
               <if test="name != null and name != ''">
                   and p.name like '${name}%'
               </if>
               <if test="job_id != null and job_id != ''">
                   and p.job_id like '${job_id}%'
               </if>
 	</select>
 	
 	<select id="selectAllPersonalToManager" resultType="Map">
 	   select p.*,o.*,d.*,e.* from t_personalinfo as p,t_department as d,t_occupation as o ,t_education as e
 	          WHERE p.department_id=d.department_id and p.occupation_id=o.occupation_id 
 	                and p.job_id=e.job_id and p.department_id=#{managerDepartmentId}
 	                <if test="occupation_id != null and occupation_id != ''">
                        and p.occupation_id like '${occupation_id}%'
                    </if>
 	                <if test="department_id != null and department_id != ''">
                        and p.department_id like '${department_id}%'
                    </if>
                    <if test="name != null and name != ''">
                        and p.name like '${name}%'
                    </if>
                    <if test="job_id != null and job_id != ''">
                        and p.job_id like '${job_id}%'
                    </if>
 	          LIMIT #{before},#{after}
 	</select>
 	
 	<select id="countToManager" resultType="int">
 	    select count(*) from t_personalinfo as p,t_department as d,t_occupation as o ,t_education as e
 	          WHERE p.department_id=d.department_id and p.occupation_id=o.occupation_id 
 	                and p.job_id=e.job_id and p.department_id=#{managerDepartmentId}
 	           <if test="occupation_id != null and occupation_id != ''">
                   and p.occupation_id like '${occupation_id}%'
               </if>
 	           <if test="department_id != null and department_id != ''">
                   and p.department_id like '${department_id}%'
               </if>
               <if test="name != null and name != ''">
                   and p.name like '${name}%'
               </if>
               <if test="job_id != null and job_id != ''">
                   and p.job_id like '${job_id}%'
               </if>
 	</select>
 	
 	<update id="updatePersonalByOccupationAdjust" >
 	   update t_personalinfo as p 
 	       set p.occupation_id =#{to_occupationid},p.department_id=#{to_departmentid}
 	            where p.job_id=#{jobId}      
 	</update>
 	
 	<update id="updatePersonalToEmployee" >
 	   update t_personalinfo as p 
 	       set p.occupation_id =1
 	            where p.job_id=#{jobId}      
 	</update>
 	
</mapper>
