<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.hjh.Mapper.AttendanceMapper">
  
    <resultMap type="Attendance" id="attendanceResult">
       <id property="jobId" column="job_id"/>
       <result property="startDate" column="start_date"/>
       <result property="finishDate" column="finish_date"/>
       <result property="overTime" column="overtime"/>
       <result property="earlyLeave" column="early_leave"/>
       <result property="lately" column="lately"/>
       <result property="today" column="today"/>
       <result property="startTime" column="start_time"/>
    </resultMap>
    
    <insert id="insertInAttendance" parameterType="Attendance">
       insert into t_attendance(job_id,start_date,lately,today,start_time) 
             values(#{jobId},#{startDate},#{lately},#{today},#{startTime})
    </insert>
    
    <update id="insertOutAttendance" parameterType="Attendance">
    update  t_attendance set finish_date=#{finishDate},overtime=#{overTime},early_leave=#{earlyLeave}
          where job_id =#{jobId} and today= #{today} 
    </update>
    
    
    <select id="SelectAttendanceByTodayAndJobId" resultMap="attendanceResult" parameterType="Attendance">
       select * from t_attendance where today=#{today} and job_id =#{jobId}
    </select>
    
    <select id="selectAllById" resultType="Map"  parameterType="int">
 		select * from t_attendance where job_id =#{jobId} 
 		  <if test="today != null and today != ''">
 		     and today like '${today}%'
 		  </if>
 		  LIMIT #{before},#{after}
 	</select>
 	
 	<select id="count" resultType="int">
 	    select count(*) from t_attendance where job_id =#{jobId}
 	      <if test="today != null and today != ''">
 		     and today like '${today}%'
 		  </if>
 	</select>
 	
 	<select id="selectSumDataByDate" resultMap="attendanceResult" >
 	    select job_id,sum(lately) as lately ,sum(overtime) as overtime,
 	           sum(early_leave) as early_leave
               from t_attendance 
               <if test="startDate != null and startDate != ''">
 		           where start_date like '${startDate}%' 
 		       </if>
               GROUP by job_id 
               LIMIT #{before},#{after}
 	</select>
 	
 	<select id="countSumDataByDate" resultType="int">
 	    select count( DISTINCT job_id) from t_attendance       
 	</select>
 	
 	
 	<!-- <select id="selectSumDataByDate" resultMap="attendanceResult">
 	    select job_id,sum(lately) as lately,sum(overtime) as overtime,
 	           sum(early_leave) as early_leave
               from t_attendance 
               <if test="startDate != null and startDate != ''">
 		           where start_date like '${startDate}%' 
 		       </if>
               GROUP by job_id 
               LIMIT #{before},#{after}
 	</select>
 	
 	<select id="countSumDataByDate" resultType="int">
 	    select count( DISTINCT job_id) from t_attendance       
 	</select> -->
 	
  <select id="selectSumOvertimeByInDate"  resultMap="attendanceResult">
    select job_id,sum(overtime) as overtime
                   from t_attendance 
    <where>
      <if test="workingCalendars !=null and workingCalendars.length>0">
         <foreach collection="workingCalendars" item="workingCalendar" separator="," open="and today in("  close=")">
              #{workingCalendar}
         </foreach>       
      </if>
    </where>
    GROUP by job_id
  </select>
  
  <select id="selectSumLatelyByInDate"  resultMap="attendanceResult">
    select job_id,count(lately) as lately
                   from t_attendance
    <where>
      <if test="workingCalendars !=null and workingCalendars.length>0">
         <foreach collection="workingCalendars" item="workingCalendar" separator="," open="and today in("  close=")">
              #{workingCalendar}
         </foreach>       
      </if>
    </where>
    and lately>0
    GROUP by job_id
  </select>
  
  <select id="selectSumEarlyLeaveByInDate"  resultMap="attendanceResult">
    select job_id,count(early_leave) as early_leave
                   from t_attendance  
    <where>
      <if test="workingCalendars !=null and workingCalendars.length>0">
         <foreach collection="workingCalendars" item="workingCalendar" separator="," open="and today in("  close=")">
              #{workingCalendar}
         </foreach>       
      </if>
    </where>
    and early_leave>0
    GROUP by job_id
  </select>  
 
  <select id="countSumWorkDayByInDate"  resultMap="attendanceResult">
    select job_id,count(today) as today
                   from t_attendance  
    <where>
      <if test="workingCalendars !=null and workingCalendars.length>0">
         <foreach collection="workingCalendars" item="workingCalendar" separator="," open="and today in("  close=")">
              #{workingCalendar}
         </foreach>       
      </if>
    </where>
    GROUP by job_id
  </select>
 
 

</mapper>
