<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.hjh.Mapper.WelfareUserMapper">
 	
 	
 	<select id="showWelfare" resultType="Map">
		SELECT name,description 
		FROM t_welfare,t_welfareuser 
		WHERE t_welfareuser.welfare_id=t_welfare.id AND t_welfareuser.job_id=#{jobId}
 		LIMIT #{before},#{after}
 	</select>
 	
 	<select id="count" resultType="int">
		SELECT COUNT(*)
		FROM t_welfareuser 
		WHERE job_id=#{jobId}
 	</select>
 

</mapper>
 